.user_card {
  max-width: 1100px;
  margin: 0 auto;
  text-align: left;
}

.wrapper {
  padding: 15px;
  margin: 0 auto;
}

.title h2 {
  font-size: 28px;
  color: #E91E63;
  margin: 0 auto 10px;
  padding: 25px 0 0 0;
}

.description {
  padding-left: 10px
}

.user_img {
  width: 100px;
  height: 100px;
  padding: 25px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #E91E63;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_img h2 {
  font-size: 46px;
  color: #fff;
  margin: 0;
}

.expires_date {
  color: #95979c;
  font-size: 14px;
  padding: 0;
}
