.actor_card {
  margin: 15px auto;
  height: auto;
  max-width: 300px;
}

.header p {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 15px 15px;
  padding: 0;
}

.actor_card_img {
  position: relative;
  padding-bottom: 150%;
  overflow: hidden;
  margin-bottom: 15px;
}

.actor_card_img img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100%;
  margin: auto;
  transition: transform .4s ease-out;
}

.actor_card_img:hover .actor_card_img img {
  transform: scale(1.05);
}

.description {
  position: relative;
  margin: 0;
  font-size: 0.7em;
  line-height: 1.4em;
  height: 2.8em;
  overflow: hidden;
  padding: 0 15px;
}

.description>span:last-child>span:last-child:after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 4.2em;
  height: 1.6em;
  background: linear-gradient(to left top, #fff, rgba(255, 255, 255, 0));
}



:host ::ng-deep mat-card {
  padding: 15px 0
}
